<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/home" uri="/home" module="News" action="index" />
  <route url="/news-([0-9]+)\.html" uri="/news-[id].html" module="News" action="show" vars="id"/>
  <route url="/commenter-([0-9]+)\.html" uri="/commenter-[news].html" module="News" action="insertComment" vars="news" />
  <route url="/signin" uri="/signin" module="Connection" action="signin" />
  <route url="/insertAuthor" uri="/insertAuthor" module="Connection" action="insertAuthor" />
  <route url="/user-([0-9]+)\.html" uri="/user-[id].html" module="News" action="user" vars="id"/>
  <route url="/([0-9]+)-before-([0-9]+)\.html" uri="/[news]-before-[id].html" module="News" action="before" vars="news,id"/>
  <route url="/([0-9]+)-after-([0-9]+)\.html" uri="/[news]-after-[id].html" module="News" action="after" vars="news,id"/>
  <route url="/tag-([a-zA-Z0-9]+)\.html" uri="/tag-[tag].html" module="News" action="tag" vars="tag"/>
  <route url="/starting-([a-zA-Z0-9]+)-limit-([0-9]+)\.html" uri="/starting-[tag]-limit-[lim].html" module="News" action="starting" vars="tag,lim" />
  <route url="/starting-limit-([0-9]+)\.html" uri="/starting-limit-[lim].html" module="News" action="starting" vars="lim" />
  <route url="/exist-([a-zA-Z]+)\.html" uri="/exist-[attribute]" module="News" action="exist" vars="attribute" />
  <route url="/news-scroll\.html" uri="/news-scroll.html" module="News" action="scroll" />
</routes>